
.revieww {
    background-color: #f9f9f9;
    margin-top: 49px;
    padding: 15px;
    max-width: 600px; 
    min-width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.review-namee, .date-review, .review-text {
    margin-bottom: 10px;
    margin-top: -5px;
    word-wrap: break-word;

}

.review-namee,.review-text{
    font-size: 20px;
    color: #333;
    text-wrap: wrap;
}

.date-review { 
    font-size: 12px;
    color: gray;
}

.revieww button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.revieww button:hover {
    background-color: #c82333;
}
