.sidebar {
    width: 180px;
    position: fixed;
    right: -250px; 
    top: 0;
    height: 100%;
    background-color: rgb(244, 243, 246);
    overflow-x: hidden;
    transition: right 0.9s; 
    
}
.sidebar.open {
    right: 0; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}


.img-shop { 
    border-radius: 9px;
    max-width: 167px;
    object-fit: cover;
    
}


.toggle-arrow {
    position: fixed;
    top: 6%; 
    right: 0; 
    cursor: pointer;
  
    transition: right 0.9s; 
}

.sidebar.open + .toggle-arrow {
    right: 200px; 
}

.car-item { 
display: flex;
justify-content: center;    
gap: 10px;

}

.price-shop {
 position: relative;
 padding-left: 90px;
    
}

.price-quantity { 
display: flex;
flex-direction: row;
justify-content: center;
gap: 10px;

} 
.delete-but { 
    background-color: #ff4d4d; 
    color: white; 
    padding: 5px 10px; 
    margin-left: 55px; 
    border: none; 
    border-radius: 6px; 
    cursor: pointer; 
    font-size: 14px; 
}

.delete-but:hover {
    background-color: #8c0d0d;
}


.top {
    border: 1px solid gray; 
    margin: 5px; 
    border-radius: 10px;
}

.select  {
    size: 10px;
}

.h33 { 
    padding-left: 40px;
}

.toggle-arrow {
    padding-top: 30px;
    font-size: 20px;
    color: #93a1b0; 
    font-weight: bold;
    cursor: pointer;
}

.toggle-arrow:hover {
    color: #758da7;
    cursor: pointer;
}

.proceed-checkout { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    
}
.proced-button { 
    background-color: #ff9900; 
    color: white;
    padding: 10px 15px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 9px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
}
