.get-cart { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
}


.cart-img { 
    max-width: 390px;
    border-radius: 30px;
    cursor: pointer;

}




.main-get-cart { 
    border: 1px solid wheat;
    width: 600px;
    margin: 130px 190px;
    border-radius: 10px;
   
}

.shop { 
    margin-top: -40px;
    margin-left: 230px;
    margin-bottom: 9px;
}



.checkout-section {
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 199px;
    border: 1px solid gray;
    border-radius: 9px;
    width: 13%;
    height: 60%;
    margin-left: -90px;
    }
    



.h33 {
    font-size: 18px; 
    color: #333; 
    margin-bottom: 20px; 
}

.checkout-section button {
    background-color: #ff9900; 
    color: white;
    padding: 10px 15px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 9px;
    margin-left: 20px;
    margin-bottom: 10px;
}


button:hover {
    background-color: #e68a00;
}


.toppest-main { 
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.span-text {
    font-weight: bold; 
    color: #555; 
    margin-right: 5px; 
}

 .get-cart > p {
    color: #333; 
    font-size: 14px; 
    margin: 5px 0; 
}

.delete-buttonn {
    background-color: #ff4d4d; 
    color: white; 
    padding: 5px 10px; 
    border: none; 
    border-radius: 6px; 
    cursor: pointer; 
    font-size: 14px; 
}
.delete-buttonn:hover { 
   background-color: red;
}