
.product-containers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 50px;
    padding-left: 190px;
    gap: 90px;
  }
  


  
  .fa-arrow-left {
    position: absolute;
    top: 40%;
    margin-left: -40px;
    font-size: 1.6em;
    cursor: pointer;
}
  
  .fa-arrow-right {
    position: absolute;
    top: 40%;
    margin-left: 20px;
    font-size: 1.6em;
    cursor: pointer;
  }
  

  
  .button {
    padding: 10px 40px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white;
  }
  
  .update { background-color: #007bff; }
  .delete { background-color: #dc3545; }
  .add-to-cart { background-color: brown; }
  .post-review { background-color: #ffc107; color: black; }
  

  .update:hover {
  background-color: #0066cc; /* Darker shade of #007bff */
}

.delete:hover {
  background-color: #c82333; /* Darker shade of #dc3545 */
}

.add-to-cart:hover {
  background-color: #993300; /* Darker shade of brown */
}

.post-review:hover {
  background-color: #e6ac00; /* Darker shade of #ffc107 */
}


.review-section { 
  margin-left: 185px;
}

.fa-solid.fa-star {
  color: gray;
}

.fa-solid.fa-star.filled {
  color: gold; 
}

.star-rates  {
  margin-top: 20px;
  padding-left: 190px;
}
.star-rates span { 
  padding-right: 10px;
}

.product-detailss { 
  border: 0.1px solid black;
  display: inline-block;
  padding: 20px;
  width: 190px;
  border-radius: 15px;
  line-height: 1.8;
  margin-left: 50px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
}







.product-containers .carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}


.carousel .control-arrow:hover {
    background: rgba(0, 0, 0, 0.8);
}




.for-carousel { 
  width: 1130px;
}