
.product-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
.image-carousel img  {

    width: 800px;
    height: 600px;
    object-fit: cover;
    border-radius: 8px;
}
  

  
  .fa-arrow-left {
    position: absolute;
    top: 40%;
    margin-left: -40px;
    font-size: 1.6em;
    cursor: pointer;
}
  
  .fa-arrow-right {
    position: absolute;
    top: 40%;
    margin-left: 20px;
    font-size: 1.6em;
    cursor: pointer;
  }
  

  
  .button {
    padding: 10px 40px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white;
  }
  
  .update { background-color: #007bff; }
  .delete { background-color: #dc3545; }
  .add-to-cart { background-color: brown; }
  .post-review { background-color: #ffc107; color: black; }
  
  .review-section {
    margin-top: 20px;

  }
  