.top-one {
    width: 800px; /* Adjust based on your preference */
    margin: 0 auto; /* Center the container */
    text-align: center;
    padding: 100px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 8px;
    
    
}

.top-one img {
    width: 600px; /* Fixed width */
    height: 400px; /* Fixed height, adjust as needed */
    object-fit: cover; /* This will handle aspect ratio differences */
    border-radius: 8px;
    margin-left: 70px;
}



.buttono {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.fa-arrow-right { 
    position: absolute;
     margin-top: 190px;
     margin-left: 30px;
     font-size: 30px;
     cursor: pointer;
}

.fa-arrow-left { 
    position: absolute;
    margin-top: 190px;
    font-size: 30px;
    cursor: pointer;

}


.make-model-years { 
    display: flex;
    gap: 10px;
    margin-left: 30px;

}


.top-top { 
    display: flex;
    padding-left: 190px;
    padding-top: 40px;
}



/* Add to Cart button styling */
.add-to-cart-button {
    position: absolute;
    background-color: rgb(96, 96, 47); /* Green background */
    color: white;
    padding: 7px 12px; 
    font-size: 18px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-left: -70px;
    margin-top: 0px;
}

.add-to-cart-button:hover {
    background-color: rgb(153, 61, 61); 
}

.add-to-cart-button i {
    margin-right: 10px; 
}

.flexo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.toyotaa { 
    padding-left: 39px;
    padding-top: 90px;
}

.review-post {
    position: absolute;
    margin-top: 110px;
    margin-left: -490px;
    background-color: rgb(147, 144, 144);
    padding: 7px 12px; 
    font-size: 12px; 
    border: none; 
    border-radius: 5px; 

}