
.favorite-cars-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px; 
    margin: 0 auto; 
    margin-top: 70px;
}


.favorite-car-card {
    border: 1px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    background-color: #fff; 
    transition: transform 0.3s;
}

.favorite-car-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 4px 10px gray;
}

.favorite-car-card img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
}

.make-model-year, .type, .price {
    padding: 10px; 

}

.price {
    font-size: 1.2em; 
    font-weight: bold; 
    color: #333333; 
}


.favorites-title {
    text-align: center; 
    font-size: 2em; 
    margin-top: 20px; 
    margin-bottom: 30px;
    color: #333; 
    font-weight: normal; 
}
