.profile-dropdown {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  justify-content: flex-end;
  position: absolute;
  border-radius: 5px;
  padding: 15px;
  right: 200px;
  top: 50px;
  color: #333;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 12px;
}
.profile-dropdown button {
  background-color: #4a90e2; 
  color: white;
  border: none; 
  padding: 8px 15px; 
  border-radius: 4px; 
  cursor: pointer; /* Cursor change to indicate clickability */
  margin-top: 10px;
}

.profile-dropdown button:hover {
  background-color: #357ab8;
}

.profile-dropdown .logout-button:hover {
  background-color: #357ab8; /* Slightly darker blue on hover */
}


.profile-dropdown > li{
  list-style: none;
}


.heart { 
 display: flex;
 justify-content: end;
 gap: 20px;
 margin-right: 200px;
}


.heart-icon-container {
  display: inline-block; 
}


.fa-car {
  position: absolute;
  font-size: 20px; /* Larger car icon */
  padding-left: 180px;

}

.all { 
  margin-top: 30px;
}


.new-trade { 
 margin-right: 30px; 
}
.new-trade { 
  text-decoration: none;
  font-size: 18px;
}

.my-cars { 
  padding-right: 20px;
  font-size: 18px;
  padding-top: 10px;
  text-decoration: none;

}

.my-orders { 
  padding-right: 20px;
  font-size: 18px;
  padding-top: 10px;
  text-decoration: none;
}

.profile-buttton {
  border-radius: 40px;
  padding: 5px 8px;
  background-color: rgb(238, 227, 238);
  cursor: pointer;
}
.profile-buttton:hover {

  background-color: rgb(206, 185, 206);

}

