.profile-dropdown {
  position: absolute;
}

.heart { 
 display: flex;
 justify-content: end;
 gap: 20px;
 margin-right: 200px;
}


.heart-icon-container {
  display: inline-block; /* Aligns the icon and text properly */
}


